@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.typewriter h1 {
  color: #fff;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  word-break: break-word;  
  margin: 0 auto;
  letter-spacing: 0.15em;
  max-width: 90vw;  
  width: fit-content;
  animation: 
    typing 3.5s steps(30, end),
    blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}